<a href="https://colab.research.google.com/github/priya-107/Progmming_DA/blob/main/PythonCA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#get required packages
import json
import pandas as pd
import requests
from bs4 import BeautifulSoup

Set URL
*   site used is 'THE NUMBERS'
*   set url of the page chosen for data scarping

In [ ]:
url='https://www.the-numbers.com/movies/franchises'

Creating Header

*  check for response payload by inspecting the page
*  to use requests package, header should be in dictionary form

In [ ]:
header={'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
'accept-encoding': 'gzip, deflate',
'accept-language': 'en',
'cookie': '_ga=GA1.2.13631149.1669292023; _gid=GA1.2.654018783.1670168258; PHPSESSID=4qmue6sbjjntvdmek8fkenhu94; _gat_gtag_UA_1343128_1=1',
'referer': 'https://www.the-numbers.com/',
'sec-ch-ua': '"Not?A_Brand";v="8", "Chromium";v="108", "Google Chrome";v="108"',
'sec-ch-ua-mobile': '?0',
'sec-ch-ua-platform': '"Windows"',
'sec-fetch-dest': 'document',
'sec-fetch-mode': 'navigate',
'sec-fetch-site': 'same-origin',
'sec-fetch-user': '?1',
'upgrade-insecure-requests': '1',
'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36'}

Calling Method
*   requesting for get method on the given url and headers declared as header

In [ ]:
r=requests.get(url,headers=header)

Check for the Response

In [ ]:
r

Create an object for Beautiful Soup

In [ ]:
soup=BeautifulSoup(r.content)

Get Table Data


*   using soup object get contents of table using element and its id
*   here element is table and id franchise_overview
*   create a table object

In [ ]:
table=soup.find('table',{'id':'franchise_overview'})
#table


*   using table object, get body of table to find total no. of rows in the table

In [ ]:
# f=table.find_all('tr')
# print(len(f))
rowss=table.find_all('tbody')
print(len(rowss))
rows=rowss[0].find_all('tr')
print(len(rows))

*   using table object, get headers of the table
*   create headers list to hold all headers

In [ ]:
#Table Headers
colhead=table.find_all('thead')
#print(colhead)
col=colhead[0].find_all('th')
# print(col)
# print(len(col))
headers=[]
for ind in col:
  ind=ind.text
  headers.append(ind)
print(headers)
print(len(headers))

In [ ]:
#analyse
td=rows[1].find_all('td')
print(td)
name=td[0].find_all('b')
#me
# name = td[0].find_all('a') 
# print(name)
# print(name[0].text)
#me
name = name[0].find('a')
print(name.text)
print(type(name))

no_of_movies = td[1].text
no_of_movies

box=td[2].text
print(box)

box2=td[3].text
print(box2)

last=td[7].text
print(last)

Data Cleaning
*   removing unwanted separators, spaces and escape sequence

In [ ]:
#data cleaning
value=[]
for items in rows:
  items=items.text  
  items=items.replace(',','')
  items=items.strip('\n')
  items=items.replace('\n',',')
  value.append(items)
print(value)
print(len(value))
print(value[0])

Creating Dataframes

In [ ]:
#creating lists for each header
L_Franchise=[]
L_No_Movies=[]
L_Dom_BO=[]
L_Infl_Dom_BO=[]
L_WW_BO=[]
L_Fyear=[]
L_Lyear=[]
L_No_Years=[]

for head_Items in range(0,len(rows)):
  td=rows[head_Items].find_all('td')

  #Franchise
  name=td[0].find_all('b')
  name = name[0].find('a')
  L_Franchise.append(name.text)

  #No_Of_Movies
  movies=td[1].text
  L_No_Movies.append(movies)

  #Domestic_Box_Office
  dbo=td[2].text
  L_Dom_BO.append(dbo)

  #Inflation_Domestic_Box_Office
  idbo=td[3].text
  L_Infl_Dom_BO.append(idbo)

  #Worlwide_Box_Office
  wwbo=td[4].text
  L_WW_BO.append(wwbo)

  #First_Year
  fy=td[5].text
  L_Fyear.append(fy)

  #Last_Year
  ly=td[6].text
  L_Lyear.append(ly)

  #No_Of_Years
  years=td[7].text
  L_No_Years.append(years)

In [ ]:
print(L_Franchise)
print(L_No_Movies)
print(L_Dom_BO)
print(L_Infl_Dom_BO)
print(L_WW_BO)
print(L_Fyear)
print(L_Lyear)
print(L_No_Years)

In [ ]:
#Creating Dataframe
df=pd.DataFrame()
df["Franchise"]=L_Franchise
df["No_Of_Movies"]=L_No_Movies
df["Domestic_Box_Office"]=L_Dom_BO
df["Inflation_Domestic_Box_Office"]=L_Infl_Dom_BO
df["Worlwide_Box_Office"]=L_WW_BO
df["First_Year"]=L_Fyear
df["Last_Year"]=L_Lyear
df["No_Of_Years"]=L_No_Years
print(df)

In [ ]:
#Creating Dataframe1
df1=pd.DataFrame()
df1["Franchise_Name"]=L_Franchise
df1["No_Of_Movies"]=L_No_Movies
print(df1)

In [ ]:
#Creating Dataframe2
df2=pd.DataFrame()
df2["Franchise_Name"]=L_Franchise
df2["Domestic_Box_Office"]=L_Dom_BO
df2["Inflation_Domestic_Box_Office"]=L_Infl_Dom_BO
df2["Worlwide_Box_Office"]=L_WW_BO
print(df2)

In [ ]:
#dataframe
# df=pd.DataFrame({'Column_Names':headers,'Data':rowValue})
# print(df)

DataBase

*   DB used is SQLite3 using webdriver and selenium
*   install required packages

In [ ]:
!pip install webdriver-manager

In [ ]:
!pip install selenium

In [ ]:
import sqlite3
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By

Create DB

In [ ]:
#create DB with name 'numbers'
connection=sqlite3.connect("numbers.db")

In [ ]:
#create an oblect called cursor to communicate with DB
cursor=connection.cursor()

Create Table

In [ ]:
#create table
#cursor.execute('''drop table numbers''')
cursor.execute('''CREATE TABLE IF NOT EXISTS numbers (Franchise text,No_Of_Movies integer,Domestic_Box_Office text,Inflation_Domestic_Box_Office text,Worlwide_Box_Office text,First_Year integer,Last_Year integer,No_Of_Years integer)''')
#connection.commit()

Insert into table numbers from dataframe df

In [ ]:
#insert values
df.to_sql(name='numbers',con=connection,if_exists='append',index=False)

Extract data from DB

In [ ]:
cursor.execute('''Select * from numbers''')
result=cursor.fetchall()
print(result)

In [ ]:
for dbrow in cursor.execute('''select * from numbers'''):
  print(dbrow)

In [ ]:
#get all values from with a particular value
cursor.execute("select * from numbers where Franchise =:n",{"n":"Star Wars"})
get_Name=cursor.fetchall()
print(get_Name)

In [ ]:
#get all values from with a particular value
cursor.execute("select No_Of_Years from numbers where Franchise =:n",{"n":"Star Wars"})
get_Name=cursor.fetchall()
print(get_Name)

Create, insert value from df1 and extract data from table Movies_in_Franchise

In [ ]:
#create table Movies_in_Franchise
#cursor.execute('''drop table Movies_in_Franchise''')
cursor.execute('''CREATE TABLE IF NOT EXISTS Movies_in_Franchise (Franchise_Name text,No_Of_Movies integer)''')
df1.to_sql(name='Movies_in_Franchise',con=connection,if_exists='append',index=False)
cursor.execute('''Select * from Movies_in_Franchise''')
Movies=cursor.fetchall()
print(Movies)

In [ ]:
#get Franchise with highest & lowest movies
cursor.execute('''Select Franchise_Name,Max(No_Of_Movies) from Movies_in_Franchise ''')
Maxmovies=cursor.fetchall()
print(Maxmovies)
print("*********************************************************************************")
cursor.execute('''Select Franchise_Name,Min(No_Of_Movies) from Movies_in_Franchise ''')
Minmovies=cursor.fetchall()
print(Minmovies)

Create, insert value from df2 and extract data from table Box_Office

In [ ]:
#create table Box_Office
#cursor.execute('''drop table Box_Office''')
cursor.execute('''CREATE TABLE IF NOT EXISTS Box_Office (Franchise_Name text,Domestic_Box_Office text,Inflation_Domestic_Box_Office text,Worlwide_Box_Office text)''')
df2.to_sql(name='Box_Office',con=connection,if_exists='append',index=False)
cursor.execute('''Select * from Box_Office''')
B_O=cursor.fetchall()
print(B_O)

In [ ]:
#get Franchise with highest & lowest WorldWide_BoxOffice collection
cursor.execute('''Select Franchise_Name,Max(Worlwide_Box_Office) from Box_Office''')
MaxBO=cursor.fetchall()
print(MaxBO)
print("******************************************************************************")
cursor.execute('''Select Franchise_Name,Min(Worlwide_Box_Office) from Box_Office ''')
MinBO=cursor.fetchall()
print(MinBO)

*   Commit and save the DB
*   Close DB connection

In [ ]:
connection.commit()
connection.close()